<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Ajax user form</title>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div>
    <h2>Ajax inputform</h2>
    <div>
        <form id="ajax-form">
            <table >
                <tr>
                    <td>Name</td>
                    <td><input type="text" id="namejs" /></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td><input type="text" id="agejs" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Submit with Ajax</button></td>
                </tr>
            </table>
        </form>
        <div>

        </div>
    </div>
    <div id="lastadded"></div>
</div>

<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>
</body>
</html>